<div class="container mt-3">
  <h1><%= @board.title %></h1>
  <p><%= @board.description %></p>

  <% if @chatThread.present? %>
    <ul class="list-group">
      <% Array(@chatThread).each do |thread| %>
        <li class="list-group-item"><%= link_to "#{thread.title}", "/boards/#{@board.id}/thread/#{thread.id}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>スレッドがありません。</p>
  <% end %>
</div>
