<div class="container">
  <h1><%= @board.title %></h1>
  <p><%= @board.description %></p>
  <p>掲示板詳細ページ</p>

  <% if @chatThread.present? %>
    <ul>
      <% Array(@chatThread).each do |thread| %>
        <li><%= link_to "#{thread.title}", "/boards/#{@board.id}/thread/#{thread.id}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>スレッドがありません。</p>
  <% end %>

  <%= link_to "掲示板一覧に戻る", "/boards" %>
</div>
